/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
*, *::before, *::after {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 table {
	 border-collapse: collapse;
	 box-shadow: 0 3px 10px #eee;
	 background-color: white;
	 text-align: left;
	 overflow: hidden;
	 color: #000 !important;
	 border-radius: 3px;
	 margin: 20px !important;
}
 thead {
	 box-shadow: 0 5px 10px #eee;
}
 th {
	 padding: 10px 20px !important;
	 text-transform: uppercase;
	 letter-spacing: 0.1;
	 font-size: 0.7rem;
	 font-weight: 900;
}
 td {
	 padding: 10px 20px !important;
}
 .edit {
	 border-radius: 0.2rem;
	 background-color: red;
	 padding: 0.2rem 1rem;
	 text-align: center;
}
 .edit-edit {
	 background-color: #c8e6c9;
	 color: #388e3c;
}
 .edit-delete {
	 background-color: #ffcdd2;
	 color: #c62828;
}
 .amount {
	 text-align: right;
}
 
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
  color: #fff !important;
  font-family: 'Nunito';
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  color: #fff !important;
}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: gray;}

.footer-text {
	color: white !important; 
	text-align: center !important; 
	width: 100% !important;
	line-height: 60px !important;
}

.navbar {
	background-color: #000 !important;
}

.footerStyled {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  color: #fff !important;
  background-color: #000 !important;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  object-fit: cover;
  height: 100vh !important;
  width: 100vw !important;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.titleText {
	line-height: 1.5 !important;
	background: rgba(0,0,0,.8);
	display: inline-block;
	padding: 10px 25px;
}

.big {
	font-size: 35px !important;
}

.small {
	font-size: 28px !important;
	margin-bottom: 0px !important;
}

.smallest {
	font-size: 16px !important;
}

.caps {
	text-transform: uppercase;
	font-weight: 600 !important;
	letter-spacing: 2px !important;
}

.textContainer {
	max-width: 1600px !important;
	padding: 50px !important;
}

.login-box {
    color: white;
	background: rgba(0,0,0,.8) !important;
	padding: 40px !important;
	max-width: 500px !important;
	margin: 40px !important;
	display: block !important;
}

.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4ca1be !important;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
	width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
	border-bottom: 1px solid #4ca1be !important;
}

.buttn, .btn, .tableBtn { 
	border: 2px solid #4ca1be !important;
	color: #fff !important;
	transition: all .3s ease;
    background: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin: 12px 0;
}

.tableBtn, .tableBtn:hover {
	border-radius: 3px !important;
	color: #000 !important;
}

.buttn:hover, .btn:hover, .btn:active, .btn:focus, .tableBtn:hover {
	background-color: #4ca1be;
	color: #fff !important;
}

.textbox input {
	border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.searchBar {
	border: 2px solid #4ca1be !important;
	color: #fff !important;
	transition: all .3s ease;
    background: none;
    color: white !important;
    padding: 5px;
    font-size: 18px;
    margin: 12px 0;
}

.dropdown:hover .dropbtn {
	background-color: #4ca1be !important;
}

.dropdown:hover .nav-link, .dropdown:hover .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #fff !important;
}

.updateTable {
	line-height: 1.5;
	border-bottom: 2px solid #4ca1be;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	color: #000;
	border-radius: 0px;
	transition: all .3s ease;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	background: transparent;
}

.updateTable:focus, .updateTable:focus-visible {
	border-radius: 3px;
	border-bottom: 2px solid #000;
	outline: 0px solid transparent !important;
	background: transparent;
}