<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="layouts/postLoginTemplate">
	<head>
		<meta charset="UTF-8">
		<title>CST-323 Cloud Computing</title>
	</head>
	
	<body>
	<!--This replaces the body from the preLogin Layout-->
		<div layout:fragment="content">
			<!--This is replaced by the message sent by the home controller-->
			<h2 class="titleText big" th:text="${welcomeMessage}">This is my default text</h2><br/>
			<h3 class="titleText small">Disclaimer:</h3><br>
			<p class="titleText smallest">
				Cloud Computing Platforms Testing
			</p>
		</div>
	</body>

</html>