<!-- This is currently a filler page until we implement the pages 
that come after logging in just to ensure our login functions are working-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/postLoginTemplate">
<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Update Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  
<div layout:fragment="content">
	<table>
	<thead>
		<tr>
			<th style="text-align:center">Username</th>
			<th style="text-align:center">First Name</th>
			<th style="text-align:center">Last Name</th>
			<th style="text-align:center">Email</th>
			<th style="text-align:center">Phone Number</th>	
			<th style="text-align:center">Send Money</th>	
			<th style="text-align:center">Add Friend</th>		
		<th>
	</thead>
	<tbody>
	<div th:if="${resultsempty != null}">
		<tr>
			<td style="text-align:center" colspan="4"> No Users Found </td>
		</tr>
	</div>
		<div th:if="${resultsempty == null}" th:each="result: ${users}">
		<tr>
			<td style="text-align:center"><h5 th:text="${result.credentials.username}">000000001</h5></td>
			<td style="text-align:center"><h5 th:text="${result.firstname}">Product 1</h5></td>
			<td style="text-align:center"><h5 th:text="${result.lastname}">1.00</h5></td>
			<td style="text-align:center"><h5 th:text="${result.email}">1</h5></td>
			<td style="text-align:center"><h5 th:text="${result.number}">1</h5></td>
			<td style="text-align:center;"><form action="#" th:action="@{/blockchain/transactionView}" method="post" th:object="${UserModel}"><input type='hidden' name='id' th:value="${result.credentials.username}"><input class="tableBtn" type='submit' value='Send Money'></form></td>
			<td style="text-align:center;"><form action="#" th:action="@{/profile/addFriend}" method="post" th:object="${UserModel}"><input type='hidden' name='id' th:value="${result.credentials.username}"><input class="tableBtn" type='submit' value='Add Friend'></form></td>
		</tr>
		</div>
	</tbody>
</table>
	

	
</div>

</body>