<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/postLoginTemplate">
<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Update Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  
<div layout:fragment="content" class="mainContent">
	<table>
	<thead>
		<tr>
			<th style="text-align:center">Username</th>
			<th style="text-align:center">First Name</th>
			<th style="text-align:center">Last Name</th>
			<th style="text-align:center">Email</th>
			<th style="text-align:center">Phone Number</th>
			<th style="text-align:center">Balance</th>
			<th style="text-align:center">Update</th>
		<th>
	</thead>
	<tbody>
		<tr th:if="${user == null}">
			<td style="text-align:center" colspan="4"> Error Retrieving Information </td>
		</tr>
		<tr>
		<form action="#" th:action="@{/profile/updateProfile}" method="post" th:object="${user}">
			<input type='hidden' name='id' th:value="${user.id}">
			<input type='hidden' name='username' th:field="${user.credentials.username}" th:value="${user.credentials.username}">
			<td><h5 th:text="${user.credentials.username}">Username</h5></td>
			<td><input type="text" th:field="${user.firstname}" th:value="${user.firstname}" class="updateTable"></td>
			<td><input type="text" th:field="${user.lastname}" th:value="${user.lastname}" class="updateTable"></td>
			<td><input type="text" th:field="${user.email}" th:value="${user.email}" class="updateTable"></td>
			<td><input type="text" th:field="${user.number}" th:value="${user.number}" class="updateTable"></td>
			<td><h5 th:text="${user.wallet.getBalance}">1</h5></td>
			<td style="text-align:center"><input class="tableBtn" type='submit' value='Edit'></td>
		</form>
		</tr>
	</tbody>
</table>
	

	
</div>

</body>