<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/preLoginTemplate">
<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  
<div layout:fragment="content">
<div class="login-box">
<h1>Register</h1>
<form action="#" th:action="@{doRegister}" th:object="${userModel}" method="post">
<!-- class = no-outline class=textbox -->
	<div class="textbox">
		<input class="no-outline" type="text" th:field="*{firstname}" placeholder="First Name">
		<h5 style="color:white" th:if"{#fields.hasErrors('firstname')}" th:errors="*{firstname}">First Name Error</h5>
	</div>
	<div class="textbox">
		<input class="no-outline" type="text" th:field="*{lastname}" placeholder="Last Name">
		<h5 style="color:white" th:if"{#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last Name Error</h5>
	</div>
	<div class="textbox">
		<input class="no-outline" type="text" th:field="*{credentials.username}" placeholder="Username">
		<h5 style="color:white" th:if"{#fields.hasErrors('credentials.username')}" th:errors="*{credentials.username}">Username Error</h5>
	</div>
	<div class="textbox">
		<input class="no-outline" type="password" th:field="*{credentials.password}" placeholder="Password">
		<h5 style="color:white" th:if"{#fields.hasErrors('credentials.password')}" th:errors="*{credentials.password}">Password Error</h5>
	</div>
	<div class="textbox">
		<input class="no-outline" type="text" th:field="*{email}" placeholder="Email">
		<h5 style="color:white" th:if"{#fields.hasErrors('email')}" th:errors="*{email}">Email Error</h5>
	</div>
	<div class="textbox">
		<input class="no-outline" type="text" th:field="*{number}" placeholder="Phone Number">
		<h5 style="color:white" th:if"{#fields.hasErrors('number')}" th:errors="*{number}">Phone Number Error</h5>
	</div>
	
	<input style="width: 100%;" class="buttn" type="submit" value="Register" />
	
	<!--This is where all errors from the above form are displayed-->
	<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
	<div th:each="err : ${#fields.errors('*')}">
		<span style="color:white" th:text="${err}" class="fieldError"></span>
	</div>
	
</form>
</div>
</div>

<script>
</script>

</body>