<!-- This is currently a filler page until we implement the pages 
that come after logging in just to ensure our login functions are working-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/postLoginTemplate">
<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Update Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  
<div layout:fragment="content">
	<div class="login-box">
		<form action="#" th:action="@{doTransaction}" method="post">
			<!--Product name attribute of the product model with error checking-->
			<div>
				<input type='hidden' name='id' th:value="${friend.credentials.username}">
			</div>
	
			<div class="textbox">
				<input class="no-outline" type="number" step="0.01" th:name="amount" value="1.00" placeholder="Amount">
			</div>
	
			<input class="buttn" style="width:100%;" type="submit" value="Submit">
			
		</form>
	</div>
</div>

</body>